*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #FBFBFB;
    font-family: "Inter", sans-serif;
}

.logo{
    width: 139px;
}
.head-section{
    padding: 16px 120px;
    background-color: white;
}
.head-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#menu ul{
    display: flex;
    gap: 24px;
}
#menu li {
    list-style-type: none;
}
#menu li a:hover{
    color: #30B868;
    transition: 0.5s;
}
#menu li a{
    text-decoration: none;
    font-size: 16xp;
    font-weight: 400;
    color: black ;
}
/* common style */
.container{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
}
.btn{
    padding: 12px 16px;
    border-style: none;
    background-color: #30B868;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
}
.btn2{
    padding: 12px 16px;
    border: 1px solid white;
    background-color:rgba(0, 0, 0, 0);
    color: white;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
}
/* main style */
.hero-body{
    background-image: url(assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 70px 120px 134px 120px;
}
/* hero btn style */
.hero-btn{
    padding: 8px 12px;
    margin-bottom: 16px;
    background-color: white;
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
    border-style: none;
    border-radius: 50px;
}
    
.hero-btn img{
    position: relative;
    top: 4px;
margin-right: 6px;
}

.hero-contain{
    width: 85%;
    max-width: 1360px;
text-align: center;
}
.hero-contain h1{
font-size: 72px;
margin-bottom: 16px;
font-weight: bold;
color: white;
}
.hero-contain p {
    line-height: 30px;
    font-size: 18px;
    color: white;
    margin-bottom: 32px;
}
.title-color{
    color: #30B868;
}
/* Nots section */

.heading-title{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 120px;
}

.heading-title h2{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
    color: #001931;
}
.heading-title p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}
/* Card section */
#card-box{
    display: flex;
    gap: 24px;
    
}
.card{
    text-align: center;
    max-width: 322px;
    padding: 24px;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0 0 8px 0  #0000060c;
}
.card img{
    padding: 10px;
    margin-bottom: 16px;
    border-radius:50% ;
    background-color: #F95555;
}
.card h4{
    font-size: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    color: #001931;
}
.card p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}

.brain-section{
    display: flex;
    gap: 60px;
    align-items: center;
}
/* brain img */
.brain-img{
    border-radius: 12px;
    max-width: 600px;
}
/* brain content */
.title{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 16px;
    color: #30B868;
}
.brain-section{
    margin-bottom: 120px;
}
.brain-content h2 {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
.brain-content .brain-p{
    text-align: left;
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}
.bulate-point p{
    display: flex;
    align-items: center;
    gap: 6px;
}
.bulate-point p{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 16px;
    color: #001931;
}
/* Task */
#task{
    margin-bottom: 120px;
}
.main-task{
    border-radius: 12px;
    padding: 80px 40px;
    background-color: #F7F6F2;
}

.btn-1{
    margin-bottom: 16px;
}
/* Footer section */
#footer{
    padding: 120px 120px 30px 120px;
    background-color: #001931;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}
.footer-social p {
    font-size: 20PX;
    font-weight: 500;
    margin-bottom: 16px;
    color: white;
}
.footer-social a, img{
    margin-left: 6px;
}
.hr-line{
    border: 1px solid #dddddd47;
}
.copy p{
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    color: #FAFAFA;
    margin-top: 30px;
}