*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #FBFBFB;
    font-family: "Inter", sans-serif;
}

.logo{
    width: 139px;
}
.head-section{
    padding: 16px 120px;
    background-color: white;
}
.head-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#menu ul{
    display: flex;
    gap: 24px;
}
#menu li {
    list-style-type: none;
}
#menu li a{
    text-decoration: none;
    font-size: 16xp;
    font-weight: 400;
    color: black ;
}
/* common style */
.btn{
    padding: 12px 16px;
    border-style: none;
    background-color: #30B868;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
}
.btn2{
    padding: 12px 16px;
    border: 1px solid white;
    background-color:rgba(0, 0, 0, 0);
    color: white;
    margin-left: 8px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
}
/* main style */
.hero-body{
    background-image: url(assets/hero-bg.png);
    padding: 70px 120px 134px 120px;
}
/* hero btn style */
.hero-btn{
    padding: 8px 12px;
    margin-bottom: 16px;
    background-color: white;
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
    border-style: none;
    border-radius: 50px;
}
    
.hero-btn img{
    position: relative;
    top: 4px;
margin-right: 6px;
}

.hero-contain{
    width: 85%;
    max-width: 1360px;
text-align: center;
}
.hero-contain h1{
font-size: 72px;
margin-bottom: 16px;
font-weight: bold;
color: white;
}
.hero-contain p {
    line-height: 30px;
    font-size: 18px;
    color: white;
    margin-bottom: 32px;
}
.title-color{
    color: #30B868;
}
